<section >
  <div class="fixed-section">
  <div style="height: 50px;display: flex;">
    <img src="../../assets/maoyan-logo.png" alt="" style="height: 50px;">
    <!-- <a style="line-height: 50px;" nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="change($event)">
      地址
      <span nz-icon nzType="down"></span>
    </a> -->
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>天津</li>
        <li nz-menu-item>北京</li>
        <li nz-submenu nzTitle="sub menu">
          <ul>
            <li nz-menu-item>上海</li>
            <li nz-menu-item>河北</li>
          </ul>
        </li>
        <li nz-submenu nzDisabled nzTitle="disabled sub menu">
          <ul>
            <li nz-menu-item>3rd menu item</li>
            <li nz-menu-item>4th menu item</li>
          </ul>
        </li>
      </ul>
    </nz-dropdown-menu>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/homepage']">首页</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a href="">电影</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a href="">影院</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a href="">演出</a>
      </li>
    </ul>
  </div>

  <nz-divider></nz-divider>
</div>
  <!-- <div style="float: right;">
    <a nz-dropdown [nzDropdownMenu]="menu">
      APP下载
      <span nz-icon nzType="down"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <img src="" alt="!!">
    </nz-dropdown-menu>
  </div> -->
  <div style="margin-top: 60px;">
<router-outlet></router-outlet>
</div>
</section>