.ant-menu-horizontal{
    border-bottom: none;
}
.ant-divider-horizontal{
    position: relative;
    top: -4px;
    margin: 0;

}
.fixed-section {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%; 
    z-index: 999;
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
  }