<section>
    <h1>电影详情</h1>
    <div style="padding: 20px;">
    <div style="display: flex;">
        <div style="margin-right: 20px;"><img style="width: 100px;height: 120px;;" [src]="data.icon" alt=""></div>
        <div>
            <div><h1>名字{{data.name}}</h1></div>
            <div style="display: flex;">
                <div><span (click)="addLike()"  nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></span>喜欢{{data.like}}
                <span (click)="clearLike()" style="height: 12px;width: 20px;background-color: rgb(210, 210, 210);border-radius: 5px;">归零</span></div>
            </div>
        </div>
        <div>

        </div>
    </div>
    <br>
    <br>
</div>
</section>