<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->
<main>
  <a [routerLink]="['/']"></a>
  <section >
    <!-- <input type="text" [(ngModel)]="newMessage" placeholder="Enter message..." />  
<button (click)="sendMessage(newMessage)">Send</button> -->
<!-- 显示接收到的消息 -->  
<!-- <div *ngFor="let event of receivedMessages | async">  
  接受信息pppp
  <p>{{ event }}</p>  
</div>     -->
<router-outlet></router-outlet>
  </section>
</main>